<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tech Talks{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!-- mini logo in the browser tab -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">

</head>
<body>
    <div class="wrapper">
        <!-- Header -->
        {% include './header.html' %}

        <!-- Main Content -->
        <div class="content-wrapper">
            {% block content %}{% endblock %}
        </div>

        
    </div>
    <!-- Footer -->
    {% include './footer.html' %}
</body>
</html>
